<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um <br />
      pensamento novo:
    </h2>
  </header>
  <form [formGroup]="formulario">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="conteudo"
      placeholder="Diigte um pensamento"
    />
    <div
      class="mensagem__erro"
      *ngIf="
        formulario.get('conteudo')?.errors &&
        formulario.get('conteudo')?.touched
      "
    >
      Pensamento obrigatorio
    </div>
    <label for="autoria">Autoria ou fonte</label>
    <input
      type="textarea"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Diigte a autoria ou fonte"
    />
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('autoria')?.errors?.['required'] && formulario.get('autoria')?.touched"
    >
      Autoria obrigatoria
    </div>
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('autoria')?.errors?.['minlength'] && formulario.get('autoria')?.touched"
    >
      Autoria minima de 3 digitos
    </div>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo 1</span>
          <div></div>
        </label>
        Previa:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo 2</span>
          <div></div>
        </label>
        Previa:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azuis" />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo 3</span>
          <div></div>
        </label>
        Previa:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas azuis" />
          <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ formulario.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!formulario.value"
        (click)="criarPensamento()"
        [ngClass]="habilitarBotao()"
        >Salvar</button>
      <button (click)="cancelarPensamento()" routerLink="/listarPensamento" class="botao">
        Cancelar
      </button>
    </div>
  </form>
</section>
